@media (max-width: 760px) {

    .logo_sm {
        width: 80%;
    }

    .logo_big {
        width: 100%;
    }
}

/* 
@keyframes movelogo {
    10% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(-150px);
    }
    70% {
        transform: translateX(-250px);
    }
}

.l2nd {
    animation-name: movelogo;
    animation-delay: 3s;
    animation-duration: 3s;
} */

@keyframes movelogo2 {
    0% {
        transform: translateX(-10px);
    }
    20% {
        transform: translateX(-100px);
    }
    60% {
        transform: translateX(-600px);
    }
    90% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.l3rd {
    animation-name: movelogo2;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    animation-delay: 3s;
    animation-duration: 5s;
}